{% extends 'base.html' %}
{% load admin_urls %}

{% block extrahead %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>
	{{ form.media }}
{% endblock %}
{% block content %}
	
	<form method='post' id='perso_edit_form' data-success-url='{% url person_detail %}'>
		<div class='form_content'>
			{% include 'contact/form_content.html' %}
		</div>
		<div class='clear'>
			<input type='submit' value='save'><span class='wait'>Processing...</span>
		</div>
	</form>
{% endblock %}
