{% extends 'base.html' %}

{% block content %}
	<div class='header'>
		<h2>42 Coffee Cups Test Assignment</h2>
		{% if user.is_authenticated %}
			<span>Hello, {{ user.username }}. <a href={% url logout %}?next={% url person_detail %}>Logout</a></span>
		{% else %}
	    	<span><a href={% url login %}>Login</a></span>
	    {% endif %}
	    <div class='clear'></div>
	</div>
	<ul class='left'>
		<li>
			{{ person.field_labels.first_name }}: {{ person.first_name }} 
		</li>
		<li>
			{{ person.field_labels.last_name }}: {{ person.last_name }} 
		</li>
		<li>
			{{ person.field_labels.birthday }}: {{ person.birthday }} 
		</li>
		<li>
			{{ person.field_labels.bio }}: {{ person.bio }} 
		</li>
	</ul>
	<ul class='left'>
		<li>Contacts</li>
		<li>
			{{ person.field_labels.email }}: {{ person.email }}
		</li>
		<li>
			{{ person.field_labels.jabber }}: {{ person.jabber }}
		</li>
		<li>
			{{ person.field_labels.skype }}: {{ person.skype }}
		</li>
		<li>
			{{ person.field_labels.other_contacts }}:
			<ul>
				<li>
					{{ person.other_contacts }}
				</li>
			</ul>
		</li>
	</ul>
{% endblock %}
