{% extends 'base.html' %}


{% block content %}
	<form action="?{{ order.get_current_order }}" method='POST'>
		{% csrf_token %}
		{{ formset.management_form }}
	<table class='requests'>
		<tr>
			<td><a href='?{{ order.links.priority }}'> Priority</a></td>
			<td>Status</td>
			<td>Url</td>
			<td>Date</td>
			<td>Get</td>
			<td>Post</td>
			<td>Session</td>
			<td>Cookies</td>
		</tr>
		{% for form in formset %}
			{{ form.id }}
			<tr>
				<td>{{ form.errors.priority }}{{ form.priority }}</td>
				<td>{{ form.instance.req_status_code }}</td>
				<td>{{ form.instance.url }} </td>
				<td>{{ form.instance.created }}</td>
				<td>{{ form.instance.req_get }}</td>
				<td>{{ form.instance.req_post }}</td>
				<td>{{ form.instance.req_session }}</td>
				<td>{{ form.instance.req_cookies }}</td>
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value='Save Changes'/>
	</form>
{% endblock %}
